napc_xlstm
*.pyc
napc/__pycache__
__pycache__
*.out
lightning_logs
*.csv
multirun
output_folder
exec
exec2
data
cctv
config_nico_ramtin/*
*.ckpt
tmp
out
backup.zip
hydra
*.7z
env/env_experiments
triton_cache
triton_cache/*
mlflow_creds
pictures
*.pdf
pictures2
outputs